{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'HotelsBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_hotels_rooms_create', {'hotel': hotel}) }}"
               class="glyphicon glyphicon-plus btn btn-success btn-xs">{{ 'Add'|trans }}</a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th>{{ 'Create by'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td><input type="checkbox" value="{{ room.id }}" name="mark[]"/></td>
                            <td>{{ room.id }}</td>
                            <td>
                                <a href="{{ url('cms_hotels_rooms_edit', {hotel: hotel, id: room.id}) }}">
                                    {{ room.title|locale }}
                                </a>
                            </td>
                            <td>{{ room.status }}</td>
                            <td>{{ room.createBy }}</td>
                            <td>{{ room.dateCreate|date('d.m.Y') }}</td>
                            <td>
                                <a href="{{ url('cms_hotels_rooms_calendar', {'hotel': hotel, 'room': room.id }) }}">{{ 'Calendar'|trans({}, 'hotels') }}</a>
                            </td>
                            <td><a href='{{ url('cms_hotels_rooms_edit', {'hotel': hotel, id: room.id}) }}'><span
                                            class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{ url('cms_hotels_rooms_delete', {id: room.id}) }}'><span
                                            class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}