{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'HotelsBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_hotels_create') }}"
               class="glyphicon glyphicon-plus btn btn-success btn-xs">{{ 'Add'|trans }}</a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th><input type="checkbox" data-action="selectAll"/></th>
                        <th>ID</th>
                        <th>{{ 'Date'|trans }}</th>
                        <th>{{ 'Status'|trans }}</th>
                        <th>{{ 'Create by'|trans }}</th>
                        <th>{{ 'Set status'|trans }}</th>
                    </thead>
                    <tbody>
                    {% if comments|length %}
                        {% for comment in comments %}
                            <tr>
                                <td><input type="checkbox" value="{{ comment.id }}" name="mark[]"/></td>
                                <td>{{ comment.id }}</td>
                                <td>
                                    <a href="{{ url('cms_hotels_edit', {id: comment.id}) }}">
                                        {{ comment.date|date('d.m.Y') }}
                                    </a>
                                </td>
                                <td>{{ comment.status }}</td>
                                <td>
                                    {% if comment.user %}
                                        {{ comment.user.lastName }} {{ comment.user.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for name,status in statuses %}
                                        {% if status != comment.status %}
                                            <a href="{{ url('cms_hotels_comments_change_status', {'hotel': hotel, 'comment': comment.id, 'status': status}) }}">{{ name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6">{{ comment.comment }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}