.ui-datepicker {
    position: relative;
    text-align: center;
    background-color: #3aaa35;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0 auto;
}

.ui-datepicker-group {
    float: left;
}

.ui-datepicker-row-break {
    clear: both;
}

.ui-datepicker-calendar {
    display: inline-block;
    margin: 0px 1px;
    background-color: #ffffee;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.ui-datepicker-header {
    padding: 10px 20px;
    text-align: center;
    display: block;
}

.ui-datepicker-prev {
    display: block;
    position: absolute;
    left: 15px;
    top: 20px;
    cursor: pointer;
}

.ui-datepicker-next {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
}

.ui-datepicker-title {
    font-weight: bold;
    color: #fff;
}

.ui-datepicker-calendar td {
    border: 1px solid #ddd;
    background-color: #FFFFFF;
}

.ui-datepicker-calendar td a {
    display: block;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
}

.ui-datepicker-calendar td span {
    display: block;
    padding: 5px 7px;
    text-align: center;
    color: #ddd;
}

.ui-datepicker-calendar td a:hover {
    background-color: #e14f1c;
    color: #FFFFFF;
    text-decoration: none;
}

.ui-datepicker-calendar td.ui-datepicker-today a {
    background-color: #ffd634;
    color: #FFFFFF;
    text-decoration: none;
}

.ui-datepicker-calendar td.ui-state-range a {
    background-color: #e14f1c;
    color: #FFFFFF;
    text-decoration: none;
}