.tooltip {
    left: 392px;
    top: 337px;
    position: absolute;
    max-width: 300px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: left;
    opacity: 1;
    color: #000000;
    z-index: 100;
}

.tooltip h4 {
    padding: 0px;
    margin: 0px;
}