{% if hotel %}
    <h3>{{ hotel.title|locale }}</h3>
        <div class="prices-calendar">
            <div class="control-panel clearfix">
                <div class="years form pull-left">
                    {% for _year in ('now'|date('Y'))..(('now'|date('Y'))+3) %}
                        <span class="year{% if year == _year %} active{% endif %}">
                        <a href="{{ url(app.request.get('_route'), {'hotel': hotel.id, 'year': _year}) }}">{{ _year }}</a>
                    </span>
                    {% endfor %}
                </div>
                <div class="controls form-inline pull-right"></div>
            </div>
            <table class="table table-bordered hotel_calendar">
                <tr>
                    <th></th>
                    {% for day in 1..31 %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
                {% for month in 1..12 %}
                    <tr>
                        <td>{{ ('01.' ~ month ~ '.' ~ year)|date('M') }}</td>
                        {% for day in 1..31 %}
                            {% set count = 0 %}
                            {% set isActive = true %}
                            {% set date = (day ~ '.' ~ month ~ '.' ~ year)|date %}
                            {% set classes = ['green', 'selectable'] %}

                            {% if date|date('d.m.Y') in prices|keys and day <= ('01.' ~ month ~ '.' ~ year)|date('t') %}
                                {% if hotel.housingType.isHaveRooms %}
                                    {% for room in hotel.rooms %}
                                        {% if attribute(prices[date|date('d.m.Y')], room.id) is defined %}
                                            {% set price = attribute(prices[date|date('d.m.Y')], room.id) %}
                                            {% set count = count + price.count %}
                                            {% set isActive = price.is_active %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% set price =  attribute(prices, date|date('d.m.Y')) %}
                                    {% set count = price.count %}
                                    {% set isActive = price.is_active %}
                                {% endif %}

                                {% if day > ('01.' ~ month ~ '.' ~ year)|date('t') or date|date('U') < 'now'|date('U') %}
                                    {% set classes = ['disabled'] %}
                                {% endif %}

                                {% set _reservations = reservations|count_reservation(hotel.id, null, date ) %}

                                {% if _reservations|length == 0 %}
                                    {% set classes = ['selectable', 'green'] %}
                                {% elseif count - reservations|length > 0 %}
                                    {% set classes = ['selectable', 'yellow'] %}
                                {% else %}
                                    {% set classes = ['selectable', 'red'] %}
                                {% endif %}

                                {% if not isActive %}
                                    {% set classes = ['selectable', 'stop-sales'] %}
                                {% endif %}
                            {% else %}
                                {% set classes = ['disabled'] %}
                            {% endif %}

                            <td data-date="{{ date|date('d.m.Y') }}"
                                data-hotel="{{ hotel.id }}"
                                data-status="{{ isActive }}">
                                <div class="{{ classes|join(' ') }}">
                                    {% if 'disabled' not in classes %}
                                        <small>{{ count - _reservations|length }}</small>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endif %}