{% if comments|length > 0 %}
    {% for comment in comments %}
        <article>
            <p class="photo"><span>140x140</span></p>
            <div class="coment">
                <h4>{{ comment.user }}</h4>
                <p class="date">{{ comment.date|date('d.m.Y') }}</p>
                <p>{{ comment.comment }}</p>
            </div>
        </article>
    {% endfor %}
{% endif %}