<form>
    <p>Поделитесь Вашим мнением об объекте</p>

    <div class="left">
        {{ form_widget(form.comment) }}
    </div>
    <div class="right">
        <a href="#" class="otziv"><span></span>Рекомендую</a>
        <a href="#" class="otziv no"><span></span>Не доволен</a>
        {{ form_widget(form.type) }}
        <a href="#">{{ 'Send'|trans({}, 'hotels') }}</a>
    </div>
    {{ form_widget(form.hotel) }}
    {{ form_widget(form.user) }}
    {{ form_rest(form) }}
</form>