{% if hotels|length %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>{{ 'Title'|trans({}, 'labels') }}</th>
                <th>{{ 'Price'|trans({}, 'labels') }}</th>
                <th>{{ 'Count guests'|trans({}, 'labels') }}</th>
                <th>{{ 'Status'|trans({}, 'labels') }}</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            {% for hotel in hotels %}
                <tr>
                    <td>{{ hotel.id }}</td>
                    <td>
                        <a href="{{ url('users_hotels_edit', {id: hotel.id}) }}">
                            {{ hotel.title|locale }}
                        </a>
                    </td>
                    <td>{{ hotel.priceDay|number_format(2, '.', ',') }}</td>
                    <td>{{ hotel.countGuests }}</td>
                    <td>{{ hotel.status }}</td>
                    <td><a href='{{ url('users_hotels_edit', {id: hotel.id}) }}'><span
                                    class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                    <td><a href='{{ url('cms_hotels_delete', {id: hotel.id}) }}'><span
                                    class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="bg-danger">
    <h2>{{ 'Hotels not found'|trans({}, 'hotels') }}</h2>
    </p>
{% endif %}