{% form_theme form 'HotelsBundle::fields.html.twig' %}
<div class="well well-sm">
    <form method="post">
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.date_start) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.date_end) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.min_guests) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.max_guests) }}
            </div>
        </div>
        <div class="row">
        {% if form.hotel is defined %}
            <div class="col-sm-6">
                {{ form_row(form.hotel) }}
            </div>
        {% endif %}
        {% if form.room is defined %}
            <div class="col-sm-6">
                {{ form_row(form.room) }}
            </div>
        {% endif %}
            <div class="col-sm-6">
                {{ form_row(form.price) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="row">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-success" value="{{ 'Add'|trans({}, 'labels') }}">
            </div>
            <div class="col-sm-6">
                {{ form_errors(form) }}
            </div>
        </div>
    </form>
</div>