{% if reservations|length %}
    <table>
        <tr>
            <th>{{ 'ID' }}</th>
            <th>{{ 'reservation.lables.hotel'|trans({}, 'reservations') }}</th>
            <th>{{ 'reservation.lables.room'|trans({}, 'reservations') }}</th>
            <th>{{ 'reservation.lables.guests'|trans({}, 'reservations') }}</th>
            <th>{{ 'reservation.lables.periods'|trans({}, 'reservations') }}</th>
            <th>{{ 'reservation.lables.price'|trans({}, 'reservations') }}</th>
            <th>{{ 'reservation.lables.customer'|trans({}, 'reservations') }}</th>
            <th>{{ 'reservation.lables.status'|trans({}, 'reservations') }}</th>
            <th colspan="2">{{ 'reservation.lables.managment'|trans({}, 'reservations') }}</th>
        </tr>
    {% for reservation in reservations %}
        {% set hotel = hotels[reservation.hotel] %}
        {% set rooms = [] %}
        {% if hotel.rooms|length %}
            {%  set room = hotel.rooms[reservation.room] %}
        {% endif %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>
                <a href="{{ url('users_hotels') }}">{{ hotel.title|locale }}</a>
            </td>
            <td>
                {% if reservation.room %}
                    <a href="{{ url('users_hotels_rooms', {hotel: hotel.id}) }}">{{ room.title|locale }}</a>
                {% endif %}
            </td>
            <td>{{ reservation.countGuests }}</td>
            <td>{{ reservation.dateStart|date('d.m.Y') }} - {{ reservation.dateEnd|date('d.m.Y') }}</td>
            <td>{{ reservation.price }} &euro;</td>
            <td>
                {{ reservation.customerLastname }} {{ reservation.customerName }}
            </td>
            <td>{{ 'reservation.statuses'|transchoice(reservation.status, {}, 'reservations') }}</td>
            <td>
                {% if (reservation.dateStart)|date('U') > 'now'|date('U') %}
                    <a href="{{ url('users_reservation_edit', {'id': reservation.id}) }}">{{ 'reservation.lables.edit'|trans({}, 'reservations') }}</a>
                {% endif %}
            </td>
            <td>
                {% if (reservation.dateStart)|date('U') > 'now'|date('U') %}
                    <a href="{{ url('users_reservation_delete', {'id': reservation.id}) }}">{{ 'reservation.lables.delete'|trans({}, 'reservations') }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <h4>{{ 'Reservations not found!' }}</h4>
{% endif %}