{% if rooms|length %}
    <div class="rooms">
    {% for room in hotel.rooms %}
        <div class="room">
            <h4>{{ room.title|locale }}</h4>
            {% if room.services|length %}
                <div class="room-services">
                    {% for service in room.services %}
                        <div class="{% if loop.index0%2 == 0 %}left{% else %}right{% endif %}">
                            {{ service.title|locale }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="room-description">{{ room.descriptions|locale }}</div>
        </div>
    {% endfor %}
    </div>
{% endif %}