{% extends 'DashboardBundle:Layout:base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/hotels/js/reservations.js'
        '@jqueryui_datepicker_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $.Reserv({
                hotelSelector: $('#cms_hotelsbundle_reservations_hotel'),
                dateStartSelector: $('#cms_hotelsbundle_reservations_date_start'),
                dateEndSelector: $('#cms_hotelsbundle_reservations_date_end'),
                calendarSelector: $('.calendar'),
                hotelInfoRoute: 'cms_hotels_api_information',
                guestsSelector: $('.reservations_guests'),
                guestSelector: $('.reservations_guest')
            })
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@HotelsBundle/Resources/public/css/datepicker.css'
    '@fileupload_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% embed "HotelsBundle::main.html.twig" %}
        {% block main %}
            <div class="row">
                {% form_theme form 'HotelsBundle::fields.html.twig' %}
                <div class="col-md-12">
                    <form method="post" {{ form_enctype(form) }} class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_errors(form) }}
                                {{ form_row(form.hotel) }}
                                {{ form_widget(form.date_start) }}
                                {{ form_widget(form.date_end) }}
                                <div class="calendar"></div>
                                {{ form_row(form.guests,{
                                    'label': 'Guests'|trans({},'messages'),
                                }) }}
                                {{ form_rest(form) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well well-sm text-right">
                                    <input type="submit" class="btn btn-primary btn-sm" data-loading-text="Saving..."
                                           value="{{ 'Save'|trans({}, 'systems') }}"/>
                                    <a href="javascript:history.go(-1)"
                                       class="btn btn-default btn-sm">{{ 'Cancel'|trans({}, 'systems') }}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}