{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'HotelsBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_hotels_reservations_create') }}"
               class="glyphicon glyphicon-plus btn btn-success btn-xs">{{ 'Add'|trans }}</a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{ 'Date start'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th>{{ 'Create by'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td><input type="checkbox" value="{{ reservation.id }}" name="mark[]"/></td>
                            <td>{{ reservation.id }}</td>
                            <td>
                                <a href="{{ url('cms_hotels_reservations_edit', {id: reservation.id}) }}">
                                    {{ reservation.dateStart|date('d.m.Y') }}
                                </a>
                            </td>
                            <td>{{ reservation.status }}</td>
                            <td>{{ reservation.createBy }}</td>
                            <td>{{ reservation.dateCreate|date('d.m.Y') }}</td>
                            <td><a href='{{ url('cms_hotels_reservations_edit', {id: reservation.id}) }}'><span
                                            class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{ url('cms_hotels_reservations_delete', {id: reservation.id}) }}'><span
                                            class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}