{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@jqueryui_js'
    '@jqueryui_mouse_js'
    '@jqueryui_selectable_js'
    '@jqueryui_tooltip_js'
    '@jqueryui_positon_js'
    '@HotelsBundle/Resources/public/js/hotels_prices.js'
    '@HotelsBundle/Resources/public/js/hotel_calendar.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.prices-calendar').hotelsPrices();
            $('.hotel_calendar').hotelsCalendar({
                'hotelCalendarRoute': 'cms_hotels_calendar',
                'hotelRoomCalendarRoute': 'cms_hotels_rooms_calendar'
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@HotelsBundle/Resources/public/css/datepicker.css'
    '@HotelsBundle/Resources/public/css/bootstrap_castom_table.css'
    '@HotelsBundle/Resources/public/css/tooltip.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>

    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% embed 'HotelsBundle::main.html.twig' %}
        {% block panelButtons %}

        {% endblock %}

        {% block main %}
            <div class="well well-sm">
                <form method="get">
                    <div class="row">
                        <div class="col-sm-6">
                            <select name="year" class="form-control">
                                {% for year in ('now'|date('Y'))..(('now'|date('Y'))+10) %}
                                    <option value="{{ year }}" {% if app.request.get('year') == year %} selected="selected"{% endif %}>{{ year }}</option>s
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" class="btn btn-success" value="Ok">
                        </div>
                    </div>
                </form>
            </div>
            {{ show_hotel_calendar(year, hotel, rooms) }}
        {% endblock %}
    {% endembed %}
{% endblock %}