{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'HotelsBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_hotels_create') }}"
               class="glyphicon glyphicon-plus btn btn-success btn-xs">{{ 'Add'|trans }}</a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th>{{ 'Create by'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th>{{ 'Is published'|trans }}</th>
                    <th>{{ 'Is deleted'|trans }}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for hotel in hotels %}
                        <tr>
                            <td><input type="checkbox" value="{{ hotel.id }}" name="mark[]"/></td>
                            <td>{{ hotel.id }}</td>
                            <td>
                                <a href="{{ url('cms_hotels_edit', {id: hotel.id}) }}">
                                    {{ hotel.title|locale }}
                                </a>
                            </td>
                            <td>{{ hotel.status }}</td>
                            <td>{{ hotel.createBy }}</td>
                            <td>{{ hotel.dateCreate|date('d.m.Y') }}</td>
                            <td>{{ hotel.isPublished }}</td>
                            <td>{{ hotel.isDeleted }}</td>
                            <td>
                                <a href="{{ url('cms_hotels_calendar', {'hotel': hotel.id}) }}">{{ 'Calendar'|trans({}, 'hotels') }}</a>
                            </td>
                            <td>
                                <a href="{{ url('cms_hotels_rooms_list', {'hotel': hotel.id}) }}">{{ 'Rooms'|trans({}, 'labels') }}</a>
                            </td>
                            <td>
                                <a href="{{ url('cms_hotels_comments_list', {'hotel': hotel.id}) }}">{{ 'Comments'|trans({}, 'labels') }}</a>
                            </td>
                            <td><a href='{{ url('cms_hotels_edit', {id: hotel.id}) }}'><span
                                            class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{ url('cms_hotels_delete', {id: hotel.id}) }}'><span
                                            class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}