{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'HotelsBundle::main.html.twig' %}
        {% block main %}
            <div>
                {% if types|length %}
                    <ul>
                        {% for type in types %}
                            <li>
                                <a href="{{ url('cms_hotels_create', {'housingTypeId': type.id}) }}">{{ type.title|locale }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h3>{{ 'Housing types is not defined'|trans({}, 'hotels') }}</h3>
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}